{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum test text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}
<div class="lorem-ipsum-test">
  {% for item in source_text %}
    <p>{{ item }}</p>
  {% endfor %}
</div>
