// estas variables son la de los colores del tema_blogazo
$azul-oscuro: #0678be !default;
$celeste: #04bdd6 !default ;
$rojo: #ca1a1b !default;


// la palabra "tema_blogazo_blogazo" dentro de las clases depende del nombre del tema_blogazo_blogazo que yo usé ya 
//que no sabia como habían nombrado el tema_blogazo_blogazo 
//por favor remplazarla por el nombre de tema_blogazo_blogazo correspondiente.
// esto se puede hacer con un find and replace
//Bloques***************

.block--views-block--related-links-block-1-2{//1.Bloque Related links
    background-color: white;
    margin-top:1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    border:solid 1px #04bdd6;
    border-radius:0.5em;
    border-color: $celeste;
    margin-bottom:5%;
	
}

.block--views-block--author-info-block-1-2{//2.Bloque Author Info
background-color: $azul-oscuro;
    width: auto;
    border-radius:0.5em;
    border-color: $celeste;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h2{
    	text-align: center;
    }
	.views-field-title{
		transition: .5s;
		font-size: 1em;
		padding: 0.5em;
		margin-top: 2em;
		.field-content{
			a{
				color:$white !important;
			}
		}
	}
	.views-field-title:hover{
     background-color:$white;
     border-radius:0.5em;
     a{
     	color: $azul-oscuro!important;
     }
	}
}

.block--views-block--last-posts-of-category-block-1-2{//3. Bloque Last post 0f category
    width: auto;
    border-radius:0.5em;
    border-color: $celeste;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:5%;
}


.block--views-block--related-posts-block-1-2{// 4 bloque de related-posts
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:0.5em;
    border-color: $celeste;
    margin-bottom:5%;
}

.block--views-block--last-posts-block-1-2{// 5. Bloque de last posts
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:0.5em;
    border-color: $celeste;
    margin-bottom:5%;
}

.block--views-block--category-list-block-1-2{// 6. Bloque category list
    width: auto;
    margin-top: 1em;
    border-radius:0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: $celeste;
    margin-bottom:5%;
}

//Fields*********************
.views-field-field-related-links{//1.Campo de related links // Bloque related links

}

//Post Video
.remote-video__field-media-oembed-video{
  iframe{
    min-width: 100%;
    min-height: 412px;
  }
  
}

.titleSidebarBlocks{
	background-color:$azul_oscuro;
	font-size:1em;
	color:white;
	padding: 0.3em;
	font-size: 1.5em;
	text-align: center;
}


.sidebarBlocks{
	padding: 1.5em;
	backgorund-color:white;
	color:$celeste !important;

	.views-field{
		transition: 1s;
		font-size: 1em;
		padding: 0.5em;
		margin-top: 2em;
		border-bottom:solid 1px rgba(0,0,0,0.1);
		.field-content{
			a{
				color:#04bdd6 !important;
			}
		}
	}
	.views-field:hover{
	    background-color:$azul_oscuro;
        border-radius:0.5em;
     a{
     	color: white !important;
     	text-decoration:none;
     	
     }
	}
}

.views-view-grid .views-row{
	margin-bottom:2em;
}